body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: Helvetica, Tahoma, Arial, STHeiti, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #00bcd4;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

iframe {
  border: none;
}

button, input {
  padding: 0;
  margin: 0;
}

svg.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
}
.ancestor {
  display: flex;
}

.navigation {
  width: 160px;
  padding-top: 20px;
  /*border-right: 5px solid #8bc34a;
  position: fixed;
  height: 100%;*/
}

.button-normal {
  border: none;
  padding: 5px 15px;
  background: #8bc34a;
  border-radius: 3px;
  color: #fff;
}

input {
  outline: none;
}

h1.nav-header {
  font-size: 1.5em;
  line-height: 2em;
  margin: 0;
  margin-top: 0.5em;
  font-weight: normal;
  padding-left: 25px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;;
}

.nav-list button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.nav-list li {
  height: 35px;
  line-height: 35px;
  padding-left: 25px;
  color: #666;
}

.nav-list a, .nav-list button {
  color: #666;
}

.nav-list li.selected {
  color: #000;
  border-left: 5px solid #333;
  padding-left: 20px;
}

.nav-list li.selected button {
  pointer-events: none;
}

.main-container {
  flex: 1;
  max-width: 1200px;
  padding-left: 20px;
}

.main-section {
  display: none;
}

h3 {
  margin-top: 2em;
}

p {
  margin-top: 0.5em;
}

.main-section:target {
  display: block;
}

.main-container iframe {
  width: 100%;
}

/*  rules  */
.sub-header {
  font-size: 30px;
  margin-top: 1.5em;
  color: #8bc34a;
}

.rule-menu {
  position: relative;
  margin-right: 30px;
}

.rules-trash-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  line-height: 30px;
  background: #00bcd4;
  box-sizing: border-box;
  padding-left: 200px;
  font-size: 12px;
  color: #fff;
  transition: all 0.4s ease;
  z-index: 2;
}

.rules-trash-menu.hide {
  visibility: hidden;
  opacity: 0;
}

.rules-trash-menu button {
  background: none;
  border: none;
  color: #fff;
  padding: 0;
  margin: 0 3px;
  cursor: pointer;
  text-decoration: underline;
}

.rules-trash-menu button:hover {
  text-shadow: 0 0 5px #fff;
}


.add-block-btn {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  color: #00bcd4;
  font-size: 14px;
}

.add-block-btn .icon {
  font-size: 18px;
  vertical-align: text-top;
}

.rule-empty-tip {
  font-size: 12px;
  padding-top: 50px;
}

.rule-list {
  margin-top: 20px;
  font-size: 12px;
  transition: all ease 0.2s;
  padding-left: 6px;
}

.rule-item {
  /*border-left: 5px solid #8bc34a;*/
  padding: 0 20px 0 20px;
  position: relative;
  left: 0;
  transition: all ease 0.4s;
}

.rule-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #8bc34a;
  border-bottom: 5px solid #ffffff;
  box-sizing: border-box;
}

.rule-item.dropping {
  /*left: 200px;*/
  margin-top: -60px;
  opacity: 0;
  transition: all ease 0.2s;
}

.rule-item.disable {
  opacity: 0.3;
  /*border-left: 5px solid #f1f8e9;*/
}

.item-control button {
  border: 0;
  background: none;
  outline: none;
  color: #689f38;
  font-size: 18px;
}

.item-control .icon-bin:hover {
  color: #e91e63;
}

.item-control {
  padding: 5px 0 10px 0;
  opacity: 0.1;
  transition: all ease 0.2s;
  margin-top: 5px;
}

.rule-item:hover .item-control {
  opacity: 1;
}

.item-control .slide-checkbox {
  font-size: 17px;
  margin-left: 20px;
}

.url-pattern {
  padding: 0.5em 0.2em;
  color: #333;
}

.url-pattern.url {
  cursor: pointer;
}


.rule-list .replacer-empty {
  color: #333;
  font-style: italic;
}

.rule-item.item-url .replace-text {
  cursor: pointer;
}

.rule-item pre {
  font-family: Helvetica, STHeiti, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rule-item.item-function pre {
  font-family: monospace, manoca, consolas;
  color: #00bcd4;
}

.url-replace {
  padding: 0.5em 0.2em;
  color: #999;
}

.url-replace pre {
  margin: 0;
}

.item-enable-check {
  -webkit-appearance: none;
}

.rule-list.disable {
  opacity: 0.5;
}

.mask-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  justify-content: center;
  flex-direction: column;
  display: flex;
  transition: 0.4s ease all;
}

.mask-overlay.hide {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease all;
}

.dialog {
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 500px;
  padding: 30px;
  position: relative;
}

.dialog-buttons {
  text-align: right;
}

.dialog-content {
  font-size: 14px;
  line-height: 1.8em;
}

.edit-container {
  width: 690px;
  height: 90%;
  min-height: 350px;
}

.box-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  padding: 7px;
  margin: 0;
  font-size: 18px;
  color: #8bc34a;
  cursor: pointer;
  /*: scale(0.8, 0.8);*/
}

.box-close-btn:hover {
  color: #00bcd4;
}

.form-item {
  font-size: 0;
  margin-bottom: 20px;
}

.replace-area-header {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-left: 5px;
}

.radio {
  display: block;
  color: #999;
  margin-top: 5px;
}

.radio input {
  display: none;
}

.radio .icon {
  font-size: 18px;
  padding: 3px;
}

.radio input:checked + .icon {
  color: #69c;
  background: #eee;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.replace-editor {
  box-sizing: border-box;
  width: 600px;
  padding: 5px;
  height: 240px;
  font-family: consolas, monospace, manoca, sans-serif;
}

.replace-editor.edit-url {
  height: 100px;
}

.button-reg {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.button-reg:before {
  content: '[.*]';
  font-size: 10px;
  margin-left: 5px;
  color: #999;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
}

.button-reg:hover:before {
  background: rgb(250, 250, 250);
}

.button-reg:active:before {
  background: rgb(250, 250, 250);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
}

.text-input {
  width: 600px;
  box-sizing: border-box;
  height: 28px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #eee;
}

.text-area {
  outline: none;
  white-space: pre;
  font-size: 12px;
  border: 1px solid #eee;
  resize: none;
}

.text-input:focus, .text-area:focus {
  border-color: #ACCDD2;
}

.submit-button {
  padding: 6px 20px;
  margin: 0;
  border: none;
  background: #8bc34a;
  color: #fff;
  margin-right: 15px;
  border-bottom: 2px solid #68A91D;
  vertical-align: bottom;
  transition: all ease 0.2s;
  cursor: pointer;
}

.submit-button:hover {
  background: #75BA26;
}

.input-test {
  width: 524px;
}


.button-test {
  position: relative;
  background: #ACCDD2;
  border-color: #91B4BA;
}

.button-test:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 3px solid;
  border-bottom-color: #ACCDD2;
  border-right-color: #ACCDD2;
  border-top-color: transparent;
  border-left-color: transparent;
  right: -3px;
  transform: rotate(-45deg);
  top: 12px;
}

.button-test:hover {
  background: #91B4BA;
}
.button-test:hover:after {
  border-color: #91B4BA;
}

.rule-test-result {
  margin: 20px 25px 20px 80px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rule-test-result.test-success {
  color: #75BA26;
  cursor: pointer;
}
.rule-test-result.test-error {
  color: #D05C5C;
}
.rule-test-result.test-normal {
  color: #ccc;
}

.slide-checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  font-size: 18px;
  width: 2em;
  height: 1em;
  border-radius: 1em;
  background: #cccccc;
  transition: all ease 0.6s;
}

.rule-menu .slide-checkbox {
  position: absolute;
  right: 0;
}

.hide-input {
  visibility: hidden;
  position: absolute;
}

.slide-checkbox-bg {
  display: block;

}

.slide-checkbox:before {
  content: '';
  width: 0.8em;
  height: 0.8em;
  border-radius: 1em;
  background: #fff;
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  transition: all ease 0.1s;
}

.slide-checkbox:checked {
  background: #00bcd4;
}

.slide-checkbox:checked:before {
  left: 1.1em;
}

.dualicon-checkbox-label {
  display: inline-block;
}

.dualicon-checkbox ~ .dualicon-checked {
  display: none;
}

.dualicon-checkbox ~ .dualicon-unchecked {
  display: block;
}

.dualicon-checkbox:checked ~ .dualicon-checked {
  display: block;
}

.dualicon-checkbox:checked ~ .dualicon-unchecked {
  display: none;
}

.day-night-checkbox {
  -webkit-appearance: none;
  appearance: none;
}

.day-night-checkbox:before {
  font-family: "iconfontello";
  content: '\e80c';
}

.day-night-checkbox:checked:before {
  content: '\e80a';
}

.backup {
  margin-top: 40px;
  margin-bottom: 20px;
}

.backup button {
  border: none;
  padding: 3px 12px;
  background: #8bc34a;
  border-radius: 15px;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.backup button:hover {
  background: #9CCC65;
}

.backup button:active {
  background: #689f38;
}

.backup input[type="file"] {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}
