<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Owl Redirector Options</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<script src="lib/zepto.min.js"></script>
<script src="../common/info.js"></script>
<script src="../common/utils.js"></script>
<script src="index.js"></script>
<script src="lib/angular.min.js"></script>
<script src="filter.js"></script>
<script src="controller.js"></script>
<link rel="stylesheet" href="lib/css/iconfontello.css">
<link rel="stylesheet" href="index.css">
</head>
<body ng-controller="owlController" ng-app="owlApp">
<div class="ancestor">
<div class="navigation">
  <h1 class="nav-header">OWL</h1>
  <ul class="nav-list" id="nav-list">
    <li class="selected">
      <button tab-target="#setting">{{messages.settingTitle}}</button>
    </li>
    <li>
      <button tab-target="#about">{{messages.aboutTitle}}</button>
    </li>
  </ul>
</div>
<div class="main-container" id="main-container">
  <div id="setting" class="main-section" style="display: block;">
    <div class="rules-trash-menu" ng-class="{0: 'hide'}[trashCount]" id="J-trash"><!--trash--></div>
    <h2 class="sub-header">{{messages.ruleListTitle}}</h2>
    <div class="rule-menu">
      <input type="checkbox" class="slide-checkbox"  ng-model="globalSetting.enable" title="{{messages.globalEnable[globalSetting.enable]}}">
      <button ng-click="showAddClick()" class="add-block-btn icon-doc-new-circled" title="{{messages.addNew}}"></button>
    </div>
    <div ng-hide="rules.length-trashCount" class="rule-empty-tip" ng-bind-html="messages.ruleEmptyTip | to_trusted"></div>
    <ul class="rule-list" ng-class="{true: '', false: 'disable'}[globalSetting.enable]">
      <li class="rule-item" ng-repeat="rule in rules | listFilter"  ng-class="{true: '', false: 'disable'}[rule.enable] + ' item-'+ {'url': 'url', 'function': 'function', 'data': 'data'}[rule.type] + {true: ' dropping'}[rule.dropping]">
        <div class="url-pattern">
          <span ng-click="itemUrlClick(rule)" class="url-text">{{rule.$url}}</span>
        </div>
        <div class="url-replace">
          <pre ng-click="itemReplacerClick(rule)" class="replace-text">{{rule.replacer}}</pre>
          <div ng-hide="rule.replacer.length" class="replacer-empty">cancel</div>
        </div>
        <div class="item-control">
          <button class="icon-trash rule-delete item-cicon" ng-click="deleteItemClick(rule)" title="{{messages.delete}}"></button>
          <button class="icon-edit-alt rule-edit item-cicon" ng-click="editItemClick(rule)" title="{{messages.edit}}"></button>
          <input type="checkbox" class="day-night-checkbox" ng-model="rule.enable" title="{{messages.itemEnable[rule.enable]}}">
        </div>
      </li>
    </ul>
    <div class="backup">
      <button id="J-backup-import">{{messages.import}}<input type="file"></button>
      <button id="J-backup-export">{{messages.export}}</button>
    </div>
    <div class="edit-container-overlay hide" ng-class="{true: '', false: 'hide'}[editBoxShow]">
      <div class="edit-container">
        <button ng-click="editCloseClick()" class="box-close-btn icon-cancel-1" title="{{messages.close}}"></button>
        <form>
          <div class="form-item">
            <input type="text" value="" class="text-input" placeholder="{{messages.urlPlaceholder}}" ng-model="stage.$url">
            <button type="button" id="url-to-reg" class="button-reg" ng-click="toRegex()" title="{{messages.regex}}"></button>
          </div>
          <div class="form-item">
          <textarea class="replace-editor edit-{{stage.type}}" placeholder="{{messages.textareaPlaceholder[stage.type]}}"  ng-model="stage.replacer"></textarea>
          <div class="replace-area-header">
            <input type="radio" name="replacetype" value="url" class="icon-hash radio-icon" ng-model="stage.type" title="URL">
            <input type="radio" name="replacetype" value="data" class="icon-doc-text radio-icon" ng-model="stage.type" title="{{messages.bodyData}}">
            <input type="radio" name="replacetype" value="function" class="icon-facebook radio-icon" ng-model="stage.type" title="{{messages['function']}}">
          </div>
        </div>
        <div class="form-item">
          <button class="submit-button" ng-click="editSubmitClick()">{{messages.submitButton[editType]}}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div id="about" class="main-section">
    <h2 class="sub-header">{{messages.aboutTitle}}</h2>
    <h3>{{messages.version}}</h3>
    <p id="current-version">{{version}}</p>
    <h3>{{messages.homePage}}</h3>
    <a href="https://github.com/meowtec/Owl-redirector" target="_blank">github.com/meowtec/Owl-redirector</a>
    <h3>{{messages.author}}</h3>
    <a href="http://weibo.com/u/2113729271" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/2113729271/64e7ae81/1.png"/></a>
  </div>
</div>
</div>
</body>
</html>
